@import "bootstrap/assets/stylesheets/bootstrap";
@import "_variables.scss";
@import "login";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "_workspace.scss";

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

li {
  list-style: none;
}

.nav-wrapper, .content-wrapper {
  width: 80%;
  max-width: $content-width;
  margin: 0 auto;
}



.hide {
  display: none;
}

.users-table {
  margin-top: 20px;
}

.page-title {
  margin-bottom: 30px;
}